.header {
	align-items: center;
	padding: 10px 20px;
	background-color: #003b95; /* Booking.com's iconic blue */
	width: 100%;
}



.linksStyle{
	color: white;
	font-size: 24px;
}

.linksStyle:hover{
	color:#ffb700;
	font-size: 24px;
}








