.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #003b95; /* Booking.com's iconic blue */
	width: 100%;
}

.logo {
	flex-shrink: 0;
}

.logoImage {
	height: 120px; /* Adjust as needed */
}

.menu {
	position: relative;
}

/* Header.module.css */

/* Style for the dropdown menu */
.dropdownMenu {
	background-color: #fff; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
	margin-top: 8px; 
}

/* Style for each dropdown item */
.dropdownItem {
	color: #003580; 
	padding: 8px 16px;
	display: block; 
	text-decoration: none; 
}

.dropdownItem:hover {
	background-color: #e9e9e9; 
}

/* Style for the dropdown trigger button */
.dropdownTriggerButton {
	color: #fff; 
	background-color: #0070f3;
	border: none;
	padding: 8px 16px; 
	border-radius: 4px; 
	font-size: 1rem; 
}

