@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
	background: #ebf0fa;
}
h1,
h2 {
	@apply font-bold text-primary text-lg;
}
main {
	margin: 100px;
}
main > h2 {
	@apply mb-4 pb-2 text-base;
}
p > a {
	@apply text-primary underline;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.card h3 {
	color: #003b95;
}

.card p {
	line-height: 1.5;
}



.card a:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	color: #ffb700;
	
}

/* feedback styles */
.error {
	@apply border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}

/* Add these styles to your existing global CSS file */

.hotelCard {
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 59, 149, 0.2);
}

.hotelCard:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px 0 rgba(0, 59, 149, 0.3);
}

.hotelAddButton {
	background-color: #003b95;
	color: white;
	transition: background-color 0.3s ease;
}

.hotelAddButton:hover {
	background-color: #ffb700;
	border: none;
}




/* pill styles */
.pill {
	@apply py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
	@apply bg-red-300 text-red-600;
}
.pill.medium {
	@apply bg-blue-300 text-blue-600;
}
.pill.low {
	@apply bg-emerald-300 text-emerald-600;
}
.card .pill {
	@apply absolute bottom-0 right-0 
    rounded-tl-md;
}
